/** Variables **/

:root {
    /* Sizes */
    --sidebar-width: 12em;
    --sidebar-margin: 3em;

    --text-width: 800px;

    /* Colors */
    --canvas-bg: #fff;
    --canvas-color: #000;
    --pre-bg-color: #f9f9f9;
    --pre-color: #000;
    --border-color: #aaa;
    --link-color: #09f;
    --command-color: green;
}

/** Fixups */

/* Avoid elements wider than screen */
img {
  display: inline-block;
  max-width: 100%;
}

table {
  max-width: 99%;
}

/* Common styles */

main
{
  max-width: var(--text-width);
  margin: auto;
}

hr
{
  height: 1px;
  background-color: var(--border-color);
  border: 0 none;
  margin: 0;
}

a { color: var(--link-color); }

/* ToC hardly needs list bullets. */
ul.toc { list-style: none; }
ul.toc li { margin-top: 0.5em; }

div.toc span { margin-right: 5px; }

/* Typography */

body
{
    font-family: system-ui, sans-serif;
    color: var(--canvas-bg-color);
}

/* For some reason on most system the default monospace font looks smaller. */
pre, code, kbd { font-size: 110%; }

@supports (hyphens: auto) {
  main {
    text-align: justify;
    hyphens: auto;
  }
}
/* Use a side pane ToC on screens that are wider than they are tall. */

@media (pointer: fine), (orientation: landscape) {
  div#chapters-index {
    width: var(--sidebar-width);
    overflow: scroll;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    padding-right: 1em;
  }

  main {
    /* Margin wider than the sidebar is intentional,
       so that there's always some space between the sidebar and the content block.
     */
    margin-left: calc(var(--sidebar-width) + var(--sidebar-margin));
  }
}

