/** Variables **/

/*
 * Page layout and structure - see also menu.css
 */

body {
  font-family: system-ui, sans-serif;
  font-size: 12pt;
  margin: 1%;
  line-height: 1.5;
}

logo img, logo div {
  float: right;
  text-align: right;
  height: 100px;
  width: 200px;
  object-fit: scale-down;
  z-index: -1;
}

logo span {
  float: right;
  text-align: right;
  margin-right: 5px;
  font-size: xx-small;
}

content {
  float: none;
  position: absolute;
  top: 105px;
  display: block;
  margin: 1%;
  padding-right: 1em;
}

copyright {
  font-size: 0.6em;
  color: green;
}

p.footnote {
  font-size: 0.8em;
}

/* 
 *  Common styles 
 */

h1 { 
  font-size: 16pt; 
  font-weight: bold;
  color: green;
  clear: both;
}

h2 {
  margin-top: 14pt;
  font-size: 14pt; 
  font-weight: bold;
  color: green;
  clear: both;
}

h3 {
  margin-top: 10pt;
  font-size: 12pt; 
  font-weight: bold;
  color: green;
  clear: both;
}

hr
{
  height: 3px;
  background-color: green;
  border: 0 none;
  margin: 0;
  clear: both;
}

dt {
  font-weight: bold;
  margin-top: 1.5em;
}

small {
  font-size: xx-small;
}

a {
  color: green;
}
a:visited {
  color: DarkOliveGreen;
}

.fab /* fa icon */ { margin-left: 5px;}

/* For some reason on most system the default monospace font looks smaller. */
pre, code, kbd { font-size: 110%; }

/* Typography */

@supports (hyphens: auto) {
  main {
    text-align: justify;
    hyphens: auto;
  }
}
