/** Variables **/

:root {
    /* Sizes */
    --font-size: 12pt;
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  margin: 1%;
}

small {
  font-size: xx-small;
}

logo img, logo div {
  float: right;
  text-align: right;
  height: 100px;
  width: 200px;
  object-fit: scale-down;
  z-index: -1;
}

logo span {
  float: right;
  text-align: right;
  margin-right: 5px;
  font-size: xx-small;
}

div.toc span { margin-right: 5px; }

div.content {  margin: inherit; }
content {
  float: none;
  position: absolute;
  top: 105px;
  display: block;
  margin: inherit;
}

programme { list-style-position: inside; }
li.collapsible { list-style: none; }

a {
  color: green;
}
a:visited {
  color: DarkOliveGreen;
}

.fab /* fa icon */ { margin-left: 5px;}

copyright {
  float: right;
  font-size: 0.6em;
  text-align: right;
}

h1 { 
  font-size: 16pt; 
  font-weight: bold;
  color: green;
}

h2 {
  margin-top: 14pt;
  font-size: 14pt; 
  font-weight: bold;
  color: green;
}

dt {
  font-weight: bold;
  margin-top: 1.5em;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

span.photo-credit {
  display: block; 
  text-align: right; 
  font-size: xx-small; 
  margin-bottom: 12px;
}

@media only screen and (orientation: landscape) {
  .img-right {
    float: right;
    width: 35%;
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
  .img-left {
    float: left;
    width: 35%;
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
}
@media only screen and not (orientation: landscape) {
  .img-right, .img-left {
    clear: both;
    object-fit: scale-down;
    max-width:98%;
    height: auto;
    max-height: 25%
  }
  .img-right img, .img-left img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
}

/* Common styles */

hr
{
  height: 1px;
  background-color: var(--border-color);
  border: 0 none;
  margin: 0;
}

/* For some reason on most system the default monospace font looks smaller. */
pre, code, kbd { font-size: 110%; }

/* Typography */

@supports (hyphens: auto) {
  main {
    text-align: justify;
    hyphens: auto;
  }
}
