<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.ico" />

    <title> <!-- inserted by soupault --> </title>
  </head>
  <body>
    <logo></logo>
    <div id="hamburger-menu"></div>
    
    <content>
      <!-- your page content will be inserted here,
      see the default_content_selector option in soupault.conf -->
    </content>
    
    
  </body>
</html>
